ARCHS = arm64
EXCLUDED_ARCHS = i386 x86_64
ONLY_ACTIVE_ARCH = NO
MACOSX_DEPLOYMENT_TARGET = 14.0
SDKROOT = macosx
SUPPORTED_PLATFORMS = macosx

CLANG_ENABLE_MODULES = YES
ENABLE_USER_SCRIPT_SANDBOXING = YES
SWIFT_VERSION = 6.0
SWIFT_STRICT_CONCURRENCY = complete
ENABLE_CODE_COVERAGE = NO
CLANG_COVERAGE_MAPPING = NO
